/* Estilo do contêiner da calculadora */
.calculadora {
    width: 220px;
    background-color: #7b7b7b;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
    font-family: Arial, sans-serif;
  }
  
  /* Estilo da tela */
  .tela {
    grid-column: span 4;
    height: 80px;
    background-color: white;
    color: black;
    font-size: 24px;
    border-radius: 5px;
    text-align: right;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);
  }
  
  .calculadora {
    border: 8px solid #2f164e; /* Borda preta de 2px */

  }
  
  /* Estilo dos botões */
  .botao {
    width: 40px;
    height: 40px;
    background-color: #b68bb1;
    color: black;
    border-radius: 50%;
    border: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  /* Estilo específico para o botão zero (ocupa duas colunas) */
  .botao-zero {
    grid-column: span 2;
    width: 90px;
    height: 40px;
    border-radius: 20px;
  }
  
  /* Estilo para botões especiais */
  .botao-operacao {
    background-color: #c5a2c3;
  }
  